.text-center {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
.text-center h1 {
    font-size: 3.25em;
    margin-top: 8vh;
}
.text-center .line {
    border-bottom:2px solid black;
    width: 3vw;
    margin:3vh 0 4vh 23.5vw;
    
}
.text-center .p-text {
    color:rgb( 95, 95, 95);
    margin-top: 2.5vh;
}
.about-container-image {
    background-image: url(../image/about-image.png);
    background-attachment: fixed;
    width: 95%;
    height: 88vh;
    margin:10vh 0 10vh 2.5vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-container-image div{
    margin: 0 4vw;
}
.about-container-image div h3{
    margin:3vh 0;
    font-size: 1.25em;
}
.about-container-image-first{
    position: relative;
    bottom: 10vh;
}
.white-line{
    border-bottom:2px solid white;
    width: 3.5vw;
    margin-top: 2.5vh;
}
.last-section{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: 60vh;
    background-color: rgb(250,237,235);
    margin:10vh 0 18vh 12.5%;
}
.last-section .last-section-left{
    width: 50%;
    padding: 8vh 0 0 5vw;
}
.last-section-left h4, .last-section-left h1{
    margin-bottom: 3vh;
}
.last-section-left h5{
    color: rgb(127, 127, 127);
}
.last-section .last-section-right{
    width: 50%;
    background-image: url(../image/tree-image.png);
    background-size: cover;
}
