@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* Colors-Classes */
.gray-text-color {
    color: rgb(150, 150, 150);
}

/* =============== Begin of Styling =============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* =============== Styling of navigation-bar =============== */
nav{
    /* margin: 0 3vw; */
    height: 12vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid lightgray; */
}
nav div a{
    text-decoration: none;
    color:black;
    font-size: 0.85em;
}
.nav-left-items{
    margin-right: 1.5vw;
}
.nav-left-items:hover{
    color: rgb(95, 95, 95);
}
.nav-right-items{
    margin-right: 4vw;
}
#logo{
    width: 120px;
    margin-right: 11vw;
}
.shopping-cart{
    position: relative;
    display: inline-block;
}
.shopping-cart:hover {
    color: rgb(95, 95, 95);
}
.shopping-cart:hover #product-counter {
    background-color: rgb(95, 95, 95);
}
#product-counter{
    display: inline-block;
    position: absolute;
    top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    color: white;
    background-color: black;
    text-align: center;
}
/* =============== Styling of footer section =============== */
footer {
    background-color: rgb(250,237,235);
}
#footer-upper {
    background-color: #faedeb;
    display: grid;
    justify-content: center;
    text-align: center;
}
#footer-upper h1 {
    margin-top: 12vh;
    font-size: 1.85em;
}
#footer-upper h5 {
    margin:4vh 0 7.5vh 0;
    color: rgb(101,95,94);
    font-size: 0.9em;
    font-family: 'Source Sans Pro', sans-serif;
}
.footer-input-form {
    width: 30vw;
    height: 6vh;
    border-style: none;
    border-radius: 3px;
    margin-right: 0.5vh;
    padding-left: 0.6vw;
}
.footer-submit-form {
    background-color: black;
    border-style: none;
    color:white;
    width: 10vw;
    height: 6vh;
    font-family: 'Poppins', sans-serif;
}
.footer-submit-form:hover {
    color:rgb(182, 180, 180);
    transition-duration: 0.1s;
}
.footer-links {
    display:flex;
    justify-content: center;
    margin-top: 5vh;
}
.footer-links a{
    text-decoration: none;
    color: rgb(101,95,94);
    font-size: 0.8em;
    margin: 1.75vw;
}
.footer-links a:hover{
    color:black;
    transition-duration: 0.1s;
}
.plat-forms {
    display: flex;
    justify-content: center;
    margin-bottom: 13vh;
}
.plat-forms-icon {
    margin: 1vh 0.4vw;
    width: 4.75vh;
    height: 4.75vh;
    background-color: white;
    display: grid;
    justify-items: center;
    align-items: center;
}
.plat-forms-icon:hover {
    background-color: rgb(250,237,235);
}
#footer-lower {
    height: 11vh;
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.85em;
}
/*========================*/
.review-item{
    margin: 5vh 0;
    display: flex;
    border: 1px solid black;
}
.review-item img{
    width: 200px;
    height: 250px;
}
.review-item div{
    margin:2vh 0 2vh 3vw;
}