@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* Colors-Classes */
.gray-text-color {
    color: rgb(150, 150, 150);
}

/* =============== Begin of Styling =============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* =============== Styling of navigation-bar =============== */
nav{
    height: 12vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
nav div a{
    text-decoration: none;
    color:black;
    font-size: 0.85em;
}
.nav-left-items{
    margin-right: 1.5vw;
}
.nav-left-items:hover{
    color: rgb(95, 95, 95);
}
.nav-right-items{
    margin-right: 4vw;
}
#logo{
    width: 120px;
    margin-right: 11vw;
}
.shopping-cart{
    position: relative;
    display: inline-block;
}
.shopping-cart:hover {
    color: rgb(95, 95, 95);
}
.shopping-cart:hover #product-counter {
    background-color: rgb(95, 95, 95);
}
#product-counter{
    display: inline-block;
    position: absolute;
    top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    color: white;
    background-color: black;
    text-align: center;
}
/* =============== Styling of footer section =============== */
footer {
    background-color: rgb(250,237,235);
}
#footer-upper {
    background-color: #faedeb;
    display: grid;
    justify-content: center;
    text-align: center;
}
#footer-upper h1 {
    margin-top: 12vh;
    font-size: 1.85em;
}
#footer-upper h5 {
    margin:4vh 0 7.5vh 0;
    color: rgb(101,95,94);
    font-size: 0.9em;
    font-family: 'Source Sans Pro', sans-serif;
}
.footer-input-form {
    width: 30vw;
    height: 6vh;
    border-style: none;
    border-radius: 3px;
    margin-right: 0.5vh;
    padding-left: 0.6vw;
}
.footer-submit-form {
    background-color: black;
    border-style: none;
    color:white;
    width: 10vw;
    height: 6vh;
    font-family: 'Poppins', sans-serif;
}
.footer-submit-form:hover {
    color:rgb(182, 180, 180);
    transition-duration: 0.1s;
}
.footer-links {
    display:flex;
    justify-content: center;
    margin-top: 5vh;
}
.footer-links a{
    text-decoration: none;
    color: rgb(101,95,94);
    font-size: 0.8em;
    margin: 1.75vw;
}
.footer-links a:hover{
    color:black;
    transition-duration: 0.1s;
}
.plat-forms {
    display: flex;
    justify-content: center;
    margin-bottom: 13vh;
}
.plat-forms-icon {
    margin: 1vh 0.4vw;
    width: 4.75vh;
    height: 4.75vh;
    background-color: white;
    display: grid;
    justify-items: center;
    align-items: center;
}
.plat-forms-icon:hover {
    background-color: rgb(250,237,235);
}
#footer-lower {
    height: 11vh;
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.85em;
}
/* =============== Styling of quickview section =============== */
/* @keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-out {
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}

@keyframes silde-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.quickview[open] {
    animation: fade-in 0.5s forwards;
} */


/* .TDN {
    text-decoration: none;
}
.quickview {
    z-index: 1001;
    position: absolute;
    left:0;
    width: 98.9vw;
    height: 100.75vh;
    background-color: rgba(45, 45, 45, 0.7);
    display: none;
}
.quickview-product {
    z-index: 1001;
    position: absolute;
    left:17.5vw;
    top:10vh;
    width: 65vw;
    height: 80vh;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.quickview-image {
    background-image: url(../image/Men4.jpg);
    background-size: cover;
}
.quickview-details{
    margin:0 2vw;
}
.quickview-line{
    border-bottom: 1px solid rgb(215, 215, 215);
}
.chose-color a{
    border:1px solid rgb(190, 190, 190) ;
    color: rgb(150, 150, 150);
    padding:3px 10px;
}
.clear{
    margin-top: 2vh;
}
.quantity-buttons {
    margin-top: 2vh;
}
.quantity-buttons span a{
    border:1px solid rgb(199, 199, 199) ;
    padding:0.4vh 0.7vw;
    color:black;
    margin-left: -5px;
}
.add-to-card{
    color: white;
    background-color: rgb(127,127,127);
    display: inline-block;
    width: 10vw;
    height: 4.75vh;
    text-align: center;
    padding-top: 0.6vh;
    margin-left: 1vw;
}
.view-cart {
    color: black;
    font-size: 0.85em;
} */